name: Subindo o servidor Java

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Constroi servidor
      working-directory: server
      run: docker build . --file Dockerfile --tag ged-server
